[alias]
  sts = status
  co = checkout
  cm = commit -m
  cma = commit --amend --no-edit
  cmae = commit --amend
  s = status
  ps = push
  psf = push -f
  brd = branch -D
[core]
  commentChar = ";"
  eol = lf
  autocrlf = input
[commit]
	gpgsign = true
[user]
  name = Bruno Ribeiro
  email = brunoribeiro.sch@gmail.com
